<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Error 404</h1>
    <p><%= error %></p>
    <a href="/">Go to home page</a>
  </body>
</html>
