// styling for components
.btn {
  padding: 10px 20px;
  border-radius: 6px;
  background: $grey;
  color: white;
  border: none;
  outline: none;
  transition: $transition;
  &:hover {
    background: $grey-hover;
  }
  &:active {
    background: $grey-active;
  }
  &:disabled {
    background: $grey-disabled;
  }
  &__red {
    background: $red;
    &:hover {
      background: $red-hover;
    }
    &:active {
      background: $red-active;
    }
    &:disabled {
      background: $red-disabled;
    }
  }
  &__yellow {
    background: $yellow;
    &:hover {
      background: $yellow-hover;
    }
    &:active {
      background: $yellow-active;
    }
    &:disabled {
      background: $yellow-disabled;
    }
  }
  &__blue {
    background: $blue;
    &:hover {
      background: $blue-hover;
    }
    &:active {
      background: $blue-active;
    }
    &:disabled {
      background: $blue-disabled;
    }
  }
  &__green {
    background: $green;
    &:hover {
      background: $green-hover;
    }
    &:active {
      background: $green-active;
    }
    &:disabled {
      background: $green-disabled;
    }
  }
}
