// styling for components

body {
  margin: 0;
  padding: 0;
}

.btn {
  padding: 10px 20px;
  border-radius: 6px;
  background: $blue;
  color: white;
  border: none;
  outline: none;
  &:hover {
    background: $blue-hover;
  }
  &:active {
    background: $blue-active;
  }
  &:disabled {
    background: $blue-disabled;
  }
  &__red {
    background: $red;
    &:hover {
      background: $red-hover;
    }
    &:active {
      background: $red-active;
    }
    &:disabled {
      background: $red-disabled;
    }
  }
}
