// styling for components
.btn {
  padding: 10px 20px;
  border-radius: 6px;
  background: $primary;
  color: white;
  font-weight: 500;
  letter-spacing: 0.3px;
  border: none;
  outline: none;
  transition: $transition;
  cursor: pointer;
  &:hover {
    background: $primary-hover;
  }
  &:active {
    background: $primary-active;
  }
  &:disabled {
    background: $primary-disabled;
  }
  &:focus {
    box-shadow: $primary-focus;
  }
  &--red {
    background: $red;
    &:hover {
      background: $red-hover;
    }
    &:active {
      background: $red-active;
    }
    &:disabled {
      background: $red-disabled;
    }
    &:focus {
      box-shadow: $red-focus;
    }
  }
  &--yellow {
    background: $yellow;
    &:hover {
      background: $yellow-hover;
    }
    &:active {
      background: $yellow-active;
    }
    &:disabled {
      background: $yellow-disabled;
    }
    &:focus {
      box-shadow: $yellow-focus;
    }
  }
  &--green {
    background: $green;
    &:hover {
      background: $green-hover;
    }
    &:active {
      background: $green-active;
    }
    &:disabled {
      background: $green-disabled;
    }
    &:focus {
      box-shadow: $green-focus;
    }
  }
  &--grey {
    background: $grey;
    &:hover {
      background: $grey-hover;
    }
    &:active {
      background: $grey-active;
    }
    &:disabled {
      background: $grey-disabled;
    }
    &:focus {
      box-shadow: $grey-focus;
    }
  }
  &__pill {
    border-radius: 50px;
    &--red {
      background: $red;
      &:hover {
        background: $red-hover;
      }
      &:active {
        background: $red-active;
      }
      &:disabled {
        background: $red-disabled;
      }
      &:focus {
        box-shadow: $red-focus;
      }
    }
    &--yellow {
      background: $yellow;
      &:hover {
        background: $yellow-hover;
      }
      &:active {
        background: $yellow-active;
      }
      &:disabled {
        background: $yellow-disabled;
      }
      &:focus {
        box-shadow: $yellow-focus;
      }
    }
    &--green {
      background: $green;
      &:hover {
        background: $green-hover;
      }
      &:active {
        background: $green-active;
      }
      &:disabled {
        background: $green-disabled;
      }
      &:focus {
        box-shadow: $green-focus;
      }
    }
    &--grey {
      background: $grey;
      &:hover {
        background: $grey-hover;
      }
      &:active {
        background: $grey-active;
      }
      &:disabled {
        background: $grey-disabled;
      }
      &:focus {
        box-shadow: $grey-focus;
      }
    }
  }
}
.btnout {
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 6px;
  color: $primary;
  border: none;
  outline: none;
  background: none;
  border: 1px solid $primary;
  transition: $transition;
  cursor: pointer;
  &:hover {
    color: $primary-hover;
    border: 1px solid $primary-hover;
  }
  &:active {
    color: $primary-active;
    border: 1px solid $primary-active;
  }
  &:disabled {
    color: $primary-disabled;
    border: 1px solid $primary-disabled;
  }
  &:focus {
    box-shadow: $primary-focus;
  }
  &--red {
    color: $red;
    border: 1px solid $red;
    &:hover {
      color: $red-hover;
      border: 1px solid $red-hover;
    }
    &:active {
      color: $red-active;
      border: 1px solid $red-active;
    }
    &:disabled {
      color: $red-disabled;
      border: 1px solid $red-disabled;
    }
    &:focus {
      box-shadow: $red-focus;
    }
  }
  &--yellow {
    color: $yellow;
    border: 1px solid $yellow;
    &:hover {
      color: $yellow-hover;
      border: 1px solid $yellow-hover;
    }
    &:active {
      color: $yellow-active;
      border: 1px solid $yellow-active;
    }
    &:disabled {
      color: $yellow-disabled;
      border: 1px solid $yellow-disabled;
    }
    &:focus {
      box-shadow: $yellow-focus;
    }
  }
  &--green {
    color: $green;
    border: 1px solid $green;
    &:hover {
      color: $green-hover;
      border: 1px solid $green-hover;
    }
    &:active {
      color: $green-active;
      border: 1px solid $green-active;
    }
    &:disabled {
      color: $green-disabled;
      border: 1px solid $green-disabled;
    }
    &:focus {
      box-shadow: $green-focus;
    }
  }
  &--grey {
    color: $grey;
    border: 1px solid $grey;
    &:hover {
      color: $grey-hover;
      border: 1px solid $grey-hover;
    }
    &:active {
      color: $grey-active;
      border: 1px solid $grey-active;
    }
    &:disabled {
      color: $grey-disabled;
      border: 1px solid $grey-disabled;
    }
    &:focus {
      box-shadow: $yellow-focus;
    }
    &:focus {
      box-shadow: $grey-focus;
    }
  }
  &__pill {
    border-radius: 50px;
    &--red {
      color: $red;
      border: 1px solid $red;
      &:hover {
        color: $red-hover;
        border: 1px solid $red-hover;
      }
      &:active {
        color: $red-active;
        border: 1px solid $red-active;
      }
      &:disabled {
        color: $red-disabled;
        border: 1px solid $red-disabled;
      }
      &:focus {
        box-shadow: $red-focus;
      }
    }
    &--yellow {
      color: $yellow;
      border: 1px solid $yellow;
      &:hover {
        color: $yellow-hover;
        border: 1px solid $yellow-hover;
      }
      &:active {
        color: $yellow-active;
        border: 1px solid $yellow-active;
      }
      &:disabled {
        color: $yellow-disabled;
        border: 1px solid $yellow-disabled;
      }
      &:focus {
        box-shadow: $yellow-focus;
      }
    }
    &--green {
      color: $green;
      border: 1px solid $green;
      &:hover {
        color: $green-hover;
        border: 1px solid $green-hover;
      }
      &:active {
        color: $green-active;
        border: 1px solid $green-active;
      }
      &:disabled {
        color: $green-disabled;
        border: 1px solid $green-disabled;
      }
      &:focus {
        box-shadow: $green-focus;
      }
    }
    &--grey {
      color: $grey;
      border: 1px solid $grey;
      &:hover {
        color: $grey-hover;
        border: 1px solid $grey-hover;
      }
      &:active {
        color: $grey-active;
        border: 1px solid $grey-active;
      }
      &:disabled {
        color: $grey-disabled;
        border: 1px solid $grey-disabled;
      }
      &:focus {
        box-shadow: $yellow-focus;
      }
      &:focus {
        box-shadow: $grey-focus;
      }
    }
  }
}

:disabled {
  cursor: initial;
}
