.card {
  height: fit-content;
  width: 300px;
  border: 1px solid #b8bdc7;
  box-sizing: border-box;
  border-radius: 16px;
  overflow: hidden;
  &__img-container {
    width: 298px;
    height: 162px;
    background: #b8bdc7;
  }
  &__body {
    color: #4e4c52;
    padding: 20px;

    &__title {
      font-weight: bold;
      font-size: 21px;
      margin-bottom: 8px;
      font-weight: bold;
    }
    &__subtitle {
      font-weight: 500;
      font-size: 17px;
      margin-bottom: 8px;
    }
    &__text {
      font-weight: normal;
      margin-bottom: 10px;
    }
    .card__links {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 12px;
      &__link {
        color: #2a7cfe;
        margin-right: 20px;
      }
    }
    aside {
      font-size: 14px;
    }
  }
}
