.card {
  height: fit-content;
  width: 300px;
  border: 1px solid #b8bdc7;
  box-sizing: border-box;
  border-radius: 16px;
  overflow: hidden;
  &__img-container {
    width: 298px;
    height: 162px;
    background: #b8bdc7;
  }
  &__body {
    color: #4e4c52;
    padding: 20px;

    &__title {
      font-weight: bold;
      font-size: 21px;
      margin-bottom: 8px;
      font-weight: bold;
    }
    &__subtitle {
      font-weight: 500;
      font-size: 17px;
      margin-bottom: 8px;
    }
    &__text {
      font-weight: normal;
      margin-bottom: 10px;
    }
    .card__links {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 12px;
      &__link {
        color: #2a7cfe;
        margin-right: 20px;
      }
    }
    aside {
      font-size: 14px;
    }
    line {
      border: 0.5px solid #b8bdc7;
      display: block;
      width: 100%;
    }
  }
  &__header {
    border-bottom: 1px solid #b8bdc7;
    padding: 20px;
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #4e4c52;
  }
  button {
    width: 100%;
    border: none;
    outline: none;
    color: #2a7cfe;
    background: none;
    height: 45px;
    position: relative;
    border-top: 1px solid #b8bdc7;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.3px;
    cursor: pointer;
    &:active {
      opacity: 0.8;
    }
  }
}
