.form {
  .input-field {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column-reverse;
    label {
      font-size: 13px;
      color: $txt-ter;
      font-weight: 500;
    }
    input {
      color: $txt-sec;
      padding: 10px 12px;
      font-size: 15px;
      border-radius: 6px;
      border: 1px solid $txt-ter;
      outline: none;
      transition: 0.15s ease-out;
      margin: 3px 0 10px 0;
      &::placeholder {
        letter-spacing: 0.3px;
      }
      &:focus {
        box-shadow: $primary-focus;
        border: 1px solid $primary;
        + label {
          color: $primary;
        }
      }
    }
    &-error {
      input {
        &:focus {
          border: 1px solid $red;
          box-shadow: $red-focus;
          + label {
            color: $red;
          }
        }
      }
    }
    &-success {
      input {
        &:focus {
          border: 1px solid $green;
          box-shadow: $green-focus;
          + label {
            color: $green;
          }
        }
      }
    }
    &-alt {
      max-width: 200px;
      position: relative;
      max-height: 50px;
      overflow: hidden;
      padding: 4px;
      padding-right: 14px;
      border-radius: 6px;
      label {
        font-size: 15px;
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
      }
      input {
        color: $txt-sec;
        width: 100%;
        height: 100%;
        padding-top: 20px;
        padding-left: 10px;
        font-size: 15px;
        border-radius: 6px;
        border: none;
        border: 1px solid #77737d;
        &:focus + label .label-name,
        &:valid + label .label-name {
          transform: translateY(-50%);
          color: $primary;
          font-size: 12px;
        }
      }
      input:focus {
        box-shadow: $primary-focus;
        border: 1px solid $primary;
      }

      .label-name {
        color: $txt-sec;
        position: absolute;
        bottom: 0px;
        padding: 0 0 12px 14px;
        transition: all 150ms ease-out;
      }
      &-success {
        input {
          &:focus {
            border: 1px solid $green;
            box-shadow: $green-focus;
            + label .label-name {
              color: $green;
            }
          }
        }
      }
      &-error {
        input {
          &:focus {
            border: 1px solid $red;
            box-shadow: $red-focus;
            + label .label-name {
              color: $red;
            }
          }
        }
      }
    }
  }
}
