.form {
  width: 500px;
  .input-field {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column-reverse;
    label {
      color: $txt-ter;
      font-size: 13px;
      font-weight: 500;
    }
    input {
      color: $txt-sec;
      padding: 10px 10px;
      font-size: 15px;
      border-radius: 6px;
      border: 1px solid $txt-ter;
      outline: none;
      transition: 0.15s ease-out;
      margin: 3px 0 10px 0;
      &::placeholder {
        letter-spacing: 0.3px;
        font-weight: 400;
        color: $txt-ter;
      }
      &:focus {
        box-shadow: $primary-focus;
        border: 1px solid $primary;
        + label {
          color: $primary;
        }
      }
    }
    &-error {
      input {
        &:focus {
          border: 1px solid $red;
          box-shadow: $red-focus;
          + label {
            color: $red;
          }
        }
      }
    }
    &-success {
      input {
        &:focus {
          border: 1px solid $green;
          box-shadow: $green-focus;
          + label {
            color: $green;
          }
        }
      }
    }
    &-alt {
      position: relative;
      label {
        font-size: 15px;
        font-weight: 400;
        color: $txt-ter;
        position: absolute;
        bottom: 12px;
        box-sizing: border-box;
        left: 0;
        width: auto;
        height: auto;
        pointer-events: none;
        // border: 1px solid blue;
        padding: 0 0 12px 10.5px;
        transition: all 150ms ease-out;
      }
      input {
        color: $txt-sec;
        width: 400px;
        margin: 10px 0;
        // padding: 22px 0 9px 10px;
        height: 50px;
        padding-left: 10px;
        font-size: 15px;
        border-radius: 6px;
        border: none;
        outline: none;
        box-sizing: border-box;
        border: 1px solid #77737d;
        &:focus + label,
        &:valid + label {
          transform: translateY(-11px);
          color: $primary;
          font-size: 12px;
          font-weight: 500;
        }
        &::placeholder {
          letter-spacing: 0.3px;
          border: 1px solid green;
        }
      }
      input:focus {
        box-shadow: $primary-focus;
        border: 1px solid $primary;
      }

      &-success {
        input {
          &:focus {
            border: 1px solid $green;
            box-shadow: $green-focus;
            + label .label-name {
              color: $green;
            }
          }
        }
      }
      &-error {
        input {
          &:focus {
            border: 1px solid $red;
            box-shadow: $red-focus;
            + label .label-name {
              color: $red;
            }
          }
        }
      }
    }
  }
}
