// Variables
$navBG: #4c4f52;
$navBG-hover: hsl(210, 4%, 41%);

body {
  overflow-x: hidden;
}

nav {
  height: 70px;
  width: 100%;
  background: $navBG;
  display: grid;
  .nav-wrapper {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: inherit;
    max-width: 767px;
    // border: 1px solid #bbb;
    box-sizing: border-box;
    .logo {
      // border: 1px solid #888;
      width: 70px;
      height: 70px;
      box-sizing: border-box;
      display: grid;
      #logo {
        height: 30px;
        width: 30px;
        background-color: #888888;
        margin: auto;
      }
    }
    .menu {
      // border: 2px solid yellow;
      width: 70px;
      height: 70px;
      box-sizing: border-box;
      // checkbox
      #menu__checkbox {
        display: none;
        // label text checked
        &:checked ~ .menu__btn__menu {
          display: none;
        }
        &:checked ~ .menu__btn__close {
          display: block;
        }
        // label style clicked
        &:checked ~ .menu__btn {
          opacity: 1;
        }
        // menu transition
        &:checked ~ .menu__items {
          right: 0%;
        }
      }
      &__btn {
        // border: 2px solid red;
        display: grid;
        height: 100%;
        color: $white-1;
        transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        opacity: 0.8;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
        &__menu {
          margin: auto;
        }
        &__close {
          display: none;
          margin: auto;
        }
      }

      &__items {
        padding: 20px;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.5px;
        background: $navBG;
        position: absolute;
        right: -100%;
        top: 70px;
        max-width: 100%;
        width: 600px;
        height: 100%;
        // border: 4px solid green;
        box-sizing: border-box;
        transition: 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
        a {
          display: inline-block;
          line-height: 150%;
          text-decoration: none;
          color: $white-1;
          opacity: 0.6;
          border-radius: 6px;
          padding: 8px 10px 8px 10px;
          box-sizing: border-box;
          // margin: 4px 0;
          width: 100%;
          // border: 1px solid grey;
          transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
          &:hover {
            opacity: 1;
            padding: auto 4px;
            background: $navBG-hover;
          }
        }
      }
    }
  }
}
